:root {
    --main-bg: linear-gradient(175deg, rgba(74, 98, 171, 1) 0%, rgba(48, 60, 102, 1) 47%, rgba(38, 47, 78, 1) 100%);
    --nav-pane-bg: #232C48;
    --topic-bar-bg: #232C48;
    --users-list-bg: #232C48;
    --input-bg: #232C48;
    --main-color: white;
    --border-lower-color: #070735;
    --border-upper-color: #4b5c92;
    --button-bg: #3e508a;
    --list-selected-bg: #47557e;
    --list-hover-bg: #47557e;
    --counter-bg: #47557e;
    --action-color: #f9f5ff;
    --list-hover-bg: #47557e;
}

div.users-list div.user-idle {
    background-image: url(../images/idle.svg?color=8792B6);
}

::-webkit-scrollbar-track {
    background: #0a1945;
    border: 0px none #ffffff;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    background: #455b9e;
    border: 0px none #d760c5;
    border-radius: 0px;
}

body {
    /*
        Use the following font-family declaration to set the desired
        font for the theme.
    */
    font-family: inherit;
}